<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>팬클럽 가입</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<div id="container">
			<h2>팬클럽 가입</h2>
			<form th:action="@{/members/join}" method="post"
					class="joinForm">
				<fieldset>
					<ul>
						<li>
							<label for="email">이메일</label>
							<input type="text" name="email" required>
						</li>
						<li>
							<label for="passwd">비밀번호</label>
							<input type="password" name="passwd">
						</li>
						<li>
							<label for="name">이름</label>
							<input type="text" name="name">
						</li>
						<li>
							<label for="gender">성별</label>
							<input type="radio" name="gender" value="남자" checked>남
							<input type="radio" name="gender" value="여자" >여
						</li>
						<li>
							<input type="submit" value="가입">
							<input type="reset" value="취소">
						</li>

					</ul>
				</fieldset>
			</form>
		
		</div>
	</div>
</body>
</html>