<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원 목록</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<div id="container">
			<h2>회원 목록</h2>
			<p class="home"><a th:href="@{/}">홈으로</a></p>
			<table class="memberList">
				<thead>
					<tr>
						<th>번호</th>
						<th>이메일</th>
						<th>이름</th>
						<th>성별</th>
						<th>가입일</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="m : ${memberList}">
						<td th:text="${m.id}"></td>
						<td>
							<!-- 이메일을 클릭하면 회원 정보(상세)로 이동 -->
							<a th:href="@{/members/{id}(id=${m.id})}" 
										th:text="${m.email}"></a>
						</td>
						<td th:text="${m.name}"></td>
						<td th:text="${m.gender}"></td>
						<td th:text="${m.joinDate}"></td>
					</tr>
				</tbody>
			</table>
	</div>
</body>
</html>