<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>로그인</title>
	<style>
		ul li{list-style:none; margin: 16px;}
	</style>
</head>
<body>
	<div id="container">
			<h2>로그인</h2>
			<form th:action="@{/login}" method="post">
					<ul>
						<li>
							<label for="email">이메일</label>
							<input type="text" name="username" required>
						</li>
						<li>
							<label for="passwd">비밀번호</label>
							<input type="password" name="password">
						</li>
						<li>
							<input type="submit" value="로그인">
							<input type="reset" value="취소">
						</li>
					</ul>
				
			</form>
		</div>
</body>
</html>